

/* semantic color variables for this project */
:root {
  --color-background: #191919;
  --color-secondary: #CFB351;
  --color-text: #FFF;

  --color-text-secondary: #bebebe;


}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@keyframes pulse {
  0%{
    scale: 0.5;
    transform: translate(0px, 0px);
  }
  50%{
    scale: 1;
    transform: translate(20px, 20px);
  }
  100%{
    scale: 0.5;
    transform: translate(0px, 0px);

  }
}

body {
  min-height: 100vh;
  color: var(--color-text);
  /* background: var(--color-background); */
  background-color: var(--color-background);
  padding-inline: 70px;
  /* background-image: url('./bg.jpg'); */
  background-repeat: repeat-y;
  background-size: cover;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
